.icon_info {
    i {
        background-color: white;
        border-radius: 50%;
        color: rgb(43, 150, 237);
        font-size: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    i:hover {
        transform: translateY(-50%) scale(1.2);
    }

    position: relative;
    min-width: 50px;

}

.requestHistory {
    -webkit-box-shadow: 1px 6px 6px 9px rgba(222, 222, 222, 1);
    -moz-box-shadow: 1px 6px 6px 9px rgba(222, 222, 222, 1);
    box-shadow: 2px 6px 6px 2px rgba(222, 222, 222, 1);
    >div {
        height: 100%;
        width: 100%;
        margin-bottom: 35px;
        padding: 10px 0px;
        display: flex;

    }
    // flex-wrap: nowrap;
}