.content-content{
    background-color: unset !important;
    .eq-box-sm{
        padding: 20px;
        background-color: white;
        margin-bottom: 20px;
    }
    th, td{
        border: 1px solid #dee2e6;
        text-align: center;
    }
}