.air-checkbox {
    width: 100%;
    text-align: center;
}

.title{
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
    color: #4d627b;
    >div {
        float: right;
    }
}

textarea{
    width: 100%;
    padding: 8px;
    resize: none;
}

.rejectReason {
    font-size: 15px;
    color: red
}

.headerReject {
    position: unset !important;
}