.content-content {
    background-color: unset !important;
}

.list__card {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;

    .card {
        width: 300px;
        min-height: 250px;
        height: auto;
        background-color: white;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;

        .wrapper-icon {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: white;
            i{
                font-size: 30px;
            }
        }
        .ORGANIZATION{
            background-color: #8bc34a;
        }
        .PERSONAL{
            background-color: #03a9f4;
        }
        .STAFF{
            background-color: #ffb300;
        }
        .info{
            margin-top: 20px;
            font-size: 17px;
            >div {
                display: flex;
                column-gap: 5px;
                align-items: center;
            }
        }
    }
    .card:hover {
        cursor: pointer;
    }
}