<app-template-base>
    <div class="content-header">{{ title }}</div>
    <div class="content-content">
        <div class="list__card">


            <div class="card" *ngFor="let customer of dataListCustomer" [routerLink]="['/renderClientDetail']" [queryParams]= "{id: customer.Id}">
                <!-- Doanh nghiệp -->
                <div class="icon" *ngIf="customer.Type == configSetting.clientConfig['ORGANIZATION'].code">
                    <div class="wrapper-icon ORGANIZATION">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="info">
                        <div><i class="fa-solid fa-circle-user"></i> <span>{{customer.CommonName}}</span></div>
                        <div><i class="fa-solid fa-address-card"></i> <span>Mã số thuế: {{customer.IdentifyNo}}</span></div>
                        <div><i class="fa-solid fa-phone"></i><span>{{customer.Phone}}</span></div>
                        <div><i class="fa-solid fa-envelope"></i> {{customer.Email}}</div>
                        <div><i class="fa-solid fa-house-user"></i><span>{{customer.Adress}}</span></div>
                    </div>
                </div>


                <!-- Cá nhân -->
                <div class="icon" *ngIf="customer.Type == configSetting.clientConfig['PERSONAL'].code">
                    <div class="wrapper-icon PERSONAL">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="info">
                        <div><i class="fa-solid fa-circle-user"></i> <span>{{customer.CommonName}}</span></div>
                        <div><i class="fa-solid fa-address-card"></i> <span>CMND: {{customer.IdentifyNo}}</span></div>
                        <div><i class="fa-solid fa-phone"></i><span>{{customer.Phone}}</span></div>
                        <div><i class="fa-solid fa-envelope"></i> {{customer.Email}}</div>
                        <div><i class="fa-solid fa-house-user"></i><span>{{customer.Adress}}</span></div>
                    </div>
                </div>


                <!-- Cá nhân thuộc tổ chức -->
                <div class="icon" *ngIf="customer.Type == configSetting.clientConfig['STAFF'].code">
                    <div class="wrapper-icon STAFF">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="info">
                        <div><i class="fa-solid fa-circle-user"></i> <span>{{customer.CommonName}}</span></div>
                        <div><i class="fa-solid fa-address-card"></i> <span>CMND: {{customer.IdentifyNo}}</span></div>
                        <div><i class="fa-solid fa-phone"></i><span>{{customer.Phone}}</span></div>
                        <div><i class="fa-solid fa-envelope"></i> {{customer.Email}}</div>
                        <div><i class="fa-solid fa-house-user"></i><span>{{customer.Adress}}</span></div>
                    </div>
                </div>
            </div>

        
        </div>

       
    </div>
</app-template-base>