.content-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .btn-action-header {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        button{
            padding: 7px !important;
            i {
                margin-right: 5px;
            }
        }
    }
}