.content {
    background-color: white;
}

.content-header {
    top: unset;
}

.content-filters {
    background-color: unset !important;
    padding-bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;

    .btn-action-header {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        column-gap: 10px;

        button {
            padding: 5px !important;

            i {
                margin-right: 3px;
            }
        }
    }
}

.content-content {
    .filters {
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
    }
}