<p-dialog header="{{title}}" [(visible)]="display" [modal]="true" [style]="{width: '100vw', maxWidth: '900px'}"
    (onHide)="closeModal()">
    <div class="body_create_agency">
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="demo-is-inputsmall">Họ và tên: </label>
            <div class="col-sm-8">
                <input autocomplete="off" type="text" placeholder="Họ và tên" class="form-control " required
                    [(ngModel)]="dataUser.name">

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="demo-is-inputsmall">Email: </label>
            <div class="col-sm-8">
                <input autocomplete="off" type="email" placeholder="Email" class="form-control" required
                    [(ngModel)]="dataUser.email" [readonly]="_userId != '' && _userId != 0">
        
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="demo-is-inputsmall">Số điện thoại: </label>
            <div class="col-sm-8">
                <input autocomplete="off" type="text" placeholder="Số điện thoại" class="form-control " required
                    [(ngModel)]="dataUser.phone">
              
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">Vai trò: </label>
            <div class="col-sm-9">
                <div class="checkbox" *ngFor="let value of listRole; let key=index">
                    <input id="{{ value.code }}" class="magic-checkbox" type="checkbox" checked="true"
                        [(ngModel)]="arrRole[value.code]" style="margin-right: 5px;">
                    <label for="{{ value.code }}"> {{ value.name }}</label>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" *ngIf="_userId == ''" (click)="actionCreateUser()" class="btn btn-secondary" style="background-color: #0d6efd;" data-dismiss="modal">Thêm mới</button>
        <button type="button" *ngIf="_userId != ''" (click)="actionUpdateUser()" class="btn btn-secondary" style="background-color: #0d6efd;" data-dismiss="modal">Cập nhật</button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
    </ng-template>
</p-dialog>